<h1>Result</h1>
<%= @message %>

<%# Sorry but @user_reply can't be built out of @oriletters
Sorry but @user_reply does not seem to be a valid English word
Congratulations! @user_reply is a valid English word! %>

<%#=  @user_reply %>
 <%# p "#{@user[@oriletters]}" %>
<%#= @user %>
<%#= @oriletters %>
<%= link_to "Play again", new_path, class: 'btn btn-light'%>
